<div class="body pt-3">
  <div class="row ">

    <div class="col no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 text-center  overflow-hidden p-0">
      <div class="search-group mb-0">
        <form class="form-inline d-flex justify-content-center mb-1 mt-1 d-flex justify-content-center">
           
            <div class="btn-group" dropdown>
              <button id="button-basic " dropdownToggle type="button" class="btn fa fa-sliders dropdown-toggle btn-sm btn-outline-primary"
                      aria-controls="dropdown-basic">
                <span class="caret"></span>
              </button>
              <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                  role="menu" aria-labelledby="button-basic">
                <li role="menuitem"><a class="dropdown-item" href="#">Restuarant</a></li>
                <li role="menuitem"><a class="dropdown-item" href="#">City</a></li>
                <li role="menuitem"><a class="dropdown-item" href="#">Zip Code</a></li>
                <!-- <li class="divider dropdown-divider"></li>
                <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a> -->
                <!-- </li> -->
              </ul>
            </div>
        
            <input class="form-control form-control-sm ml-3 mr-3 w-75" type="text" placeholder="Search by Restaurant, City, or Zip code" aria-label="Search">
            <button class="btn btn-sm fa fa-search btn-outline-primary"></button>
          </form>
        
      </div>
   
      <div id="restuarant-list" class="mt-0">
        <ul class="list-group list-group-flush" *ngFor="let r of restuarants">
          <li class="list-group-item">
            <button class="fa fa-plus" (click)="addFavorite(r.businessID)"></button>
            <p>{{r.businessID}}</p>
            <p>{{r.name}}</p>
            
            <p>{{r.address}}</p>
            <p>{{r.city}}, {{r.zipCode}}</p>
            <p>{{r.phone}}</p>
            <p>{{r.grade}}</p>
            <p>{{r.latitude}}</p>
          </li>
        </ul>
      </div>
      <span>
      <button class="btn btn-sm  btn-outline-primary">Previous</button>
      <button class="btn btn-sm  btn-outline-primary">Next</button>
      </span>
    </div>

      

    <div class="col no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 text-center  overflow-hidden">
      <div #mapContainer id="map"></div>
   </div>
     
  </div>
</div>
